{% from "ui/_utils.html" import renderButton, renderStateDiv, renderInputField %}

<div class="state-container">TEST TEST
    {{ renderStateDiv(displayData) }}
    
            {% for option_row in displayData.optionsOrder %}
            <div class="state-row">
                <div>{{ option_row["name"] }}</div>
        <div class="state-buttons">
            
            {% for option in option_row["options"] %}

            {{ renderButton(option,displayData) }}
    {% endfor %}
            </div>
    </div>
            {% endfor %}
        
    <div class="state-row">
        <div class="state-buttons">
            {% for button in ["prev","next", "lastN", "currentValues"] %}
            {% if displayData.showButton(button) %}
            {{ renderButton(button,displayData) }}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if not displayData.isAggregation() %}
    <div class="state-row head">
        <div class="state-label wide">{{ displayData.date }}</div>
    </div>
    {% endif %}

    <canvas id="{{ displayData.getDivID() }}" class="state-chart" data-label="{{ displayData.label }} [{{ displayData.unit }}]"
        data-unit="{{ displayData.unit }}" data-xvals='{{ displayData.xVals|tojson }}'
        data-yvals='{{ displayData.yVals|tojson }}' data-ymin="{{ displayData.ymin }}"
        data-ymax="{{ displayData.ymax }}" data-agg="{{ displayData.getAggregationUnit() }}"
        data-type="{{ displayData.type }}">
    </canvas>

</div>