{% from "ui/_utils.html" import renderButton, renderInputField %}

<div class="state-container"> 
    <div>/run?actionhash={{ displayData.hash }}</div>
{% for valName in displayData.getValues().keys() %}
<div class="state-row">
    <div class="state-label">{{ valName }}</div>
    <div class="state-value">
    {{ renderInputField(valName+"_field", "text", displayData.getValue(valName), displayData) }} {{ renderButton(valName,displayData) }} 
    </div>
</div>
{% if displayData.hasPerDayField(valName) %}
<div class="state-row">
    <div class="state-label"></div>
    <div class="state-value">
    Change per Day: {{ renderInputField(valName+"_change_per_day_field", "text", displayData.getChangePerDayValue(valName), displayData) }} {{ renderButton(valName+"_change_per_day",displayData) }} 
    </div>
</div>

{% endif %} 
{% endfor %}
</div>